@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    --main-color: #0C105A;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    color: white;
}

.sidebar-brand {
    height: 120px;
    padding: 3rem 0rem 1rem 1rem;
}

.sidebar-brand h2 {
    display: inline-block;
    padding-left: 1rem;
    font-weight: 600;
    font-size: 22pt;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.2rem; /* jarak blok sidebar menu */
    padding-left: 1rem; 
    margin-top: 12px; 
}

.sidebar-menu a{
    padding-left: 1rem;
    color: #fff;
    display: block;
    font-size: 1rem;
    border-radius: 30px 0px 0px 30px;
    text-decoration: none;
}
/*
.sidebar-menu a.active {
    background: #fff;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: var(--main-color);
}
*/
.sidebar-menu a span {
    font-size: 10pt;     /* font submenu */
    padding-right: 1rem;
}

.profile {
    padding-left: 1rem;
    bottom: 20px;
    position: fixed;
}

/*end of sidebar*/

.hr1 {
    margin: 30px 50px 30px 40px;
    opacity: 100; 
}

main {
    z-index: -1;
    border-radius: 50px 0px 0px 50px;
}

.main-content {
    margin-left: 250px;
    background: var(--main-color);
}

main{
/*    margin-top: 10px; */
    padding: 3rem 2.5rem;
    background: #fff;
    min-height: calc(100vh);
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

.kolom h2{
    font-size: 45px;
    margin-top: 90px;
    margin-bottom: 20px;
    font-weight: 600;
}

.JK-canvas{
    margin-right: auto;
    margin-left: auto;
}